@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,400&display=swap');
*
{
margin: 0;
padding: 0; 
box-sizing: border-box; 
font-family: 'Rubik', sans-serif;
}

body{
height: 100vh;
background-size: cover; 
background-position: center; 
background-color: #C0C0C0;
}

li{
list-style: none; 
}

a{
text-decoration: none;
color: #fff;
font-size: 1rem;
}

a:hover {
color: #4682B4;
}

/*------------HEADER/NAVBAR-------------*/

header{
position: sticky; 
margin: 0px;
overflow: hidden;
top: 0px;
padding: 0 2rem;
background: #000;
}

.navbar {
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto; 
display: flex;
align-items: center; 
justify-content: space-between; 
}

.navbar .links{
display: flex; 
gap: 2rem; 
}

.navbar .toggle_btn{
color: #fff;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

.action_btn{
background-color: #808080;
color: #fff;
padding: 0.5rem 1rem; 
border: none; 
outline: none;
border-radius: 20px;
font-size: 0.8rem;
font-weight: bold;
cursor: pointer;
transition: scale 0.2 ease;
}

.action_btn:hover{
scale: 1.05;
color: #fff;
}

.action_btn:active{
scale: 0.95;
}

/*----------SINGLE PRODUCT  DETAILS----------*/

.container{
 max-width: 1300px; 
 margin: auto; 
 padding-left: 25px; 
 padding-right: 25px;
} 
 
.row{
display: flex; 
align-items: center;
flex-wrap: wrap; 
justify-content: space-around; 
}

.col-2{
flex-basis: 50%;
min-width: 300px; 
}

.col-2 img{
max-width: 100%; 		
padding: 50px 0; 
}	  
 
.col-2 h1{
font-size: 50px; 
line-height: 60px; 
margin: 25px 0;
}

.btn 
{

display: inline-block;
background: #000000;
color: #fff; 
padding: 8px 30px; 
margin: 30px 0; 
border-radius: 30px;
transition: background 0.5s;
} 

.btn:hover{
background: #563434;
}

.small-container{
max-width: 1080px;
margin: auto; 
padding-left: 25px;
padding-right: 25px; 
}

.row-2{
justify-content: space-between;
margin: 100px auto 50px;
}

.single-product{ 
margin-top: 80px;
}

.single-product .col-2 img{
padding: 0; 
}

.single-product .col-2{
padding: 20px;
}

.single-product h4{
margin: 20px 0; 
font-size: 22px;
font-weight: bold;
}

.single-product input{
width: 50px;
height: 40px; 
padding-left: 10px;
font-size: 20px; 
margin-right: 10px;
border: 1px solid #000;
}

input: focus{
outline: none;
}

.small-img-row{
display: flex;
justify-content: space-between;
}

.small-img-col{
flex-basis: 24%;
cursor: pointer;
}

/*-----------------FOOTER-------------*/

.footer{
background: #0C090A;
color: #fff;

font-size: 14px;
padding: 60px 0 20px;
}

.footer p{
color: #fff;
}

.footer h3{
color: #fff;
margin-bottom: 20px;
}

.footer-z-1 h3{
padding-left: 35px;
}

.footer-z-1 p{
padding-left: 35px;
}

.footer-z-2{
flex: 1;
text-align: center; 
}

.footer-z-2 img{
width: 180px; 
margin-bottom: 20px;
}

.footer-z-3, .footer-z-4{
flex-basis: 12%;
text-align: center; 
}

.copyright{
text-align: left;
padding-left: 10px;
padding-top: 30px;
}

.footer-z-3 h3{
padding-top: 25px;
}

.footer-z-3 li{
padding-top: 10px;
}

/*------------------DROPDOWN MENU-------------*/

.dropdown_menu {
position: left; 
right: 2rem;
top: 60px;
width: 300px;
height: 0;
background: rgba(255, 255, 255, 0.1);
border-radius: 10px;
overflow: hidden;
transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
height: 280px;
}

.dropdown_menu li {
padding: 0.7rem;
display: flex; 
align-items: center;
justify-content: center;
}

.dropdown_menu .action_btn {
color: #fff; 
width: 100%;
display: flex;
justify-content: center;
}

/*---------------BOTTOM TO TOP ICON-----------*/

.btn-arrow{
position: fixed;
width: 50px; 
height: 50px;
bottom: 40px;
right: 50px;  
text-decoration: none;
text-align: center; 
line-height: 50px; 
color: white;
font-size: 22px;
}


/*-------------FOR MENU(mobile view)-----------*/

@media (max-width: 992px) {
.navbar .links,
.navbar .action_btn{
display: none;
}

.navbar .toggle_btn {
display: block; 
}

.dropdown_menu {
display: block;
}

@media (max-width: 576px) {
.dropdown_menu {
left: 2rem;
width: unset;
}






